@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700&display=swap');

:root {
  --yellow: rgb(255, 238, 139);
  --blue: rgb(190, 229, 255);
  --blue-hover: rgb(144, 211, 255);
  --green: rgb(187, 255, 204);
  --green-hover: rgb(152, 255, 178);
  --red: rgb(255, 177, 177);
  --red-hover: rgb(255, 153, 153);
}

.hidden {
  display: none !important;
}

* {
  margin: 0;
  padding: 0;
  color: black;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: rgb(250, 250, 250);
}

header {
  background-color: white;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
}

header h1 {
  letter-spacing: -1px;
  text-decoration: underline var(--yellow);
}

.add-btn {
  background-color: var(--yellow);
  border: 1px solid black;
  padding: 10px 25px;
  border-radius: 30px;
  font-size: 18px;
  box-shadow: 2px 2px 0 0 black;
}

.add-btn:hover {
  transform: translate(2px, 2px);
  box-shadow: none;
}

.bookshelf-container {
  padding: 40px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

#to-read {
  background-color: var(--blue);
}

#completed {
  background-color: var(--green);
}

.shelf {
  background-color: white;
  border: 1px solid black;
  border-radius: 20px;
  padding: 20px 30px;
  box-shadow: 2px 2px 0 0 black;
}

.shelf h2 {
  margin-bottom: 10px;
}

.book-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.book {
  background-color: white;
  border: 1px solid black;
  border-radius: 15px;
  width: calc(100% / 3 - 10px);
  box-shadow: 2px 2px 0 0 black;
  overflow: hidden;
  justify-content: space-between;
}

.book .data {
  padding: 10px 20px;
  text-align: center;
}

.book .data-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.book .edit-button {
  cursor: pointer;
  background-color: var(--yellow);
  border: 1px solid black;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
}

.book .edit-button img {
  width: 70%;
  height: 70%;
  margin: auto;
  pointer-events: none;
}

.book .button {
  border-top: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.completed-button,
.read-button,
.delete-button {
  cursor: pointer;
  width: 50%;
  height: 28px;
}

.completed-button {
  background-color: var(--green);
}

.completed-button:hover {
  background-color: var(--green-hover);
}

.read-button {
  background-color: var(--blue);
}

.read-button:hover {
  background-color: var(--blue-hover);
}

.delete-button {
  background-color: var(--red);
  border-left: 1px solid black;
}

.delete-button:hover {
  background-color: var(--red-hover);
}

.add-section-container,
.edit-section-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.85);
}

.add-form,
.edit-form {
  background-color: white;
  margin: auto;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 2px 2px 0 0 black;
  overflow: hidden;
}

.add-form .header,
.edit-form .header {
  background-color: var(--blue);
  border-bottom: 1px solid black;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

img[alt="Close"] {
  width: 12px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 30px 30px 30px;
}

.form-group {
  margin-bottom: 10px;
}

label {
  font-size: 18px;
}

input[type="text"] {
  outline: none;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 0 0 black;
  padding: 7px 12px;
  font-size: 20px;
}

input::placeholder {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
}

input[type="submit"] {
  outline: none;
  background-color: var(--yellow);
  border: 1px solid black;
  width: 100%;
  margin-top: 10px;
  font-size: 18px;
  padding: 8px 18px;
  border-radius: 10px;
  box-shadow: 2px 2px 0 0 black;
  cursor: pointer;
}

input[type="submit"]:hover {
  box-shadow: none;
  transform: translate(2px, 2px);
}

.delete-alert-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.85);
}

.delete-alert {
  background-color: white;
  margin: auto;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 2px 2px 0 0 black;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
  width: 300px;
}

.delete-alert .header {
  background-color: var(--blue);
  border-bottom: 1px solid black;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.delete-alert .text {
  padding: 15px 25px 25px 25px;
  font-size: 20px;
  text-align: center;
}

.delete-alert input {
  margin-top: 20px;
}

@media screen and (max-width: 992px) {
  .book {
    width: calc(100% / 2 - 10px);
  }
}

@media screen and (max-width: 768px) {
  .book {
    width: calc(100% - 10px);
  }

  .shelf h2 {
    text-align: center;
  }

  .shelf .book-list {
    justify-content: center;
    gap: 10px;
  }
}

@media screen and (max-width: 600px) {
  header {
    padding: 20px;
  }

  .bookshelf-container {
    padding: 40px 70px;
  }
}

@media screen and (max-width: 480px) {
  header {
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }

  .add-btn {
    width: 100%;
    text-align: center;
  }

  .bookshelf-container {
    padding: 40px 20px;
  }
}